@import "./variables"
@import "./mixins"

html
	font-size RootSize
	+min-screen(LargeWindow)
		font-size RootSize
body
	font-family 'Hiragino Kaku Gothic ProN', 'Meiryo', 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif
	color RegularText

dl,dt,dd,ul,ol,li,form,fieldset,legend,input,textarea,p,blockquote
	// line-height 1.75rem
	line-height 24px
	font-size 15px
	letter-spacing: 0.3px

a
	animate(.15)
	text-decoration none
	color Blue
	&:hover
		color DarkBlue

*
	webkit-box-sizing border-box
	-moz-box-sizing border-box
	-o-box-sizing border-box
	-ms-box-sizing border-box
	box-sizing border-box
	
img
	max-width 100%
	height auto
