animate(time = .25s)
	-webkit-transition all time ease
	-moz-transition all time ease
	-ms-transition all time ease
	-o-transition all time ease
	transition all time ease

centering(width, margin=0)
	// width width px
	max-width width px
	margin margin auto
	padding-left 20px
	padding-right 20px

size(width, height)
	width width
	height height

max-screen(breakPoint)
	@media screen and (max-width: breakPoint px)
		{block}

min-screen(breakPoint)
	@media screen and (min-width: breakPoint px)
		{block}

screen(breakPointMin, breakPointMax)
	@media screen and (min-width: breakPointMin px) and (max-width: breakPointMax px)
		{block}
		
noSelect()
	user-select none
	-webkit-user-select none
	-ms-user-select none
	-moz-user-select none
	-khtml-user-select none
	-webkit-user-drag none
	-khtml-user-drag none

flexbox()
	display flex
	display -webkit-box
	display -ms-flexbox
	display -webkit-flex

justify-content(value)
	justify-content value
	-webkit-justify-content value
	-webkit-box-pack value
	-ms-flex-pack value

align-items(value)
	align-items value
	-webkit-align-items value
	-webkit-box-align value
	-ms-flex-align value
	-webkit-align-items value

flex-direction(value)
	-webkit-flex-direction value
	flex-direction value

flex-direction(value)
	-webkit-box-direction value
	-webkit-flex-direction value
	flex-direction value

flex-wrap(value)
	flex-wrap value
	-ms-flex-wrap value
	-webkit-flex-wrap value
