<template lang="pug">
	.layout
		nuxt.body
</template>
<script>
	export default{
	}
</script>
<style lang="stylus">
	@import "~assets/stylus/loader"
	html, body, #__nuxt, #__layout, .layout
		width 100%
		height 100%
</style>