<template lang="pug">
	.layout
		nuxt.noScroll
</template>
<script>
	export default{
	}
</script>
<style lang="stylus">
	@import "~assets/stylus/loader"
	html, body, #__nuxt, #__layout, .layout
		position relative
		size 100% 100%
		overflow hidden
	.noScroll
		position fixed
		size 100% 100%
		overflow-y scroll
</style>