<template lang="pug">
	.body
		header
			p header
		main
			.l-alignCenter
				AppLogo 
			h2.l-alignCenter PWA & iOS_ScrollDisabled
			//- PolymerElement
			//- paper-button
</template>
<script>
// import { PolymerElement } from '@polymer/polymer/polymer-element.js';
import AppLogo from '~/components/AppLogo.vue'

export default {
	layout: "noScroll",
	components: { AppLogo },
	head: {
		script: [
			{ type: "module", src:"/@polymer/paper-button/paper-button.js?module" }
		]
	}
}
</script>
<style lang="stylus" scoped>
	@import "~assets/stylus/mixins"
	@import "~assets/stylus/variables"
	.body
		size 100% 100%
	
	// sample css
	header
		position fixed
		top 0
		left 0
		width 100%
		height 45px
		z-index 5000
		background-color #333
		color white
		padding 10px
	main
		position relative
		margin-top 45px
		padding-top 50px
	.l-alignCenter
		text-align center
	h2
		font-size Large
</style>
